.ToDoList{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
}

button{
  font-size: 1.4rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button{
  background-color: #4CAF50;
}

.add-button :hover{
  background-color: #45a049;
}

.delete-button{
  background-color: #f44336;
}

.delete-button :hover{
  background-color: #da190b;
}

.move-button{
  background-color: #008CBA;
}

.move-button :hover{
  background-color: #007bb5;
}

input[type="text"]{
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0, 97%);
  border: 2px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.2rem;
  margin-left: 10px;
}
