body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%); 
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  background-color: aliceblue;
  border-radius: 40px;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family:'Times New Roman', Times, serif ;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  transition: background-color 0.5s ease;
}

.start-button{
  background-color: rgb(46, 162, 46);
}

.start-button:hover{
  outline: auto;
  background-color: rgb(33, 116, 33);
}

.stop-button{
  background-color: rgba(255, 0, 0, 0.936);
}

.stop-button:hover{
  background-color: rgb(224, 14, 14);
  outline: auto;
}

.reset-button{
  background-color: rgb(94, 94, 219);
}

.reset-button:hover{
  background-color: rgb(65, 65, 167);
  outline: auto;
}