.counter-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.counter-display {
  font-size: 5em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(111, 215, 181);
  color: rgba(51, 47, 47, 0.999);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: rgb(72, 184, 158);
}