body{
  background-image: url(assets/mountain.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock-container{
  backdrop-filter: blur(2px);
  min-width: 100vw;
  padding: 10px 0;
}

.clock{
  color:rgb(237, 235, 235);
  font-size: 5rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsl(0, 0%, 0%, 0.75);
}