body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3em;
}

.color-display{
  width: 300px;
  height: 250px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease-in-out;
}

.color-display p {
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 150px;
  height: 50px;
  padding: 5px;
  border: 3px solid hsl(0, 0%, 80%);
  cursor: pointer;
  border-radius: 10px;
}